services:
    mongodb_techtest:
        image: mongodb/mongodb-community-server:latest
        container_name: mongodb_techtest
        # Mongo has overly verbose logs. Comment next line to debug.
        command: mongod --quiet --logpath /dev/null
        ports:
            - '27017:27017'
        logging:
            driver: none

    load_balancer:
        image: nginx:latest
        container_name: load_balancer
        ports:
            - '3000:3000'
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf:ro
        depends_on:
            - discovery-1
            - discovery-2

    discovery-1: &discovery
        build:
            context: ../
            dockerfile: Dockerfile
        ports:
            - '3001:3001'
        depends_on:
            - mongodb_techtest
        environment:
            - MONGO_URL=mongodb://mongodb_techtest:27017/UBIO_techtest
            - PORT=3001
            - EXPIRY_TIME_MS=10000
            - LOG_PRETTY=true
            - MONGO_METRICS_ENABLED=false

    # Additional discovery service instances can be appended as below, or deployed separately.

    discovery-2:
        <<: *discovery
        ports:
            - '3002:3002'
        environment:
            - MONGO_URL=mongodb://mongodb_techtest:27017/UBIO_techtest
            - PORT=3002
            - EXPIRY_TIME_MS=10000
            - LOG_PRETTY=true
            - MONGO_METRICS_ENABLED=false
